img.Delicias{
    position: relative; left:40vw
}
header{
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}
nav{
    position: sticky;
     top: 0; 
     margin-top:-3vw;
    margin-left: 20vw;
    letter-spacing: 10px;
    display:inline-block;
    background-color: white;
    z-index: 100;
}
a.nav{
    color:black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;

}

a.nav:hover{
    color:greenyellow;
}
hr.barra{
    border-color: chocolate;
    width: 80vw;
    position: relative;
    right: 10vw;
    
}

img{
    margin-bottom: 7vw;
    margin-top: 4vw;
}



img.ajo{
    position: relative;
    text-align: center;
}
h1{
    text-align: center;
}
div.pasta{
font-size: 1vw;
text-align: center;
}
h3{
    text-align:center;
}
ul{
list-style-type: square;
color:green;
list-style-position: inside; 
font-size: 1.5vw;
position: relative; left:50vw; top: -25vw;
}
div.tiempo{
    position: relative; top:-20vw;
    font-style: oblique;
    font-size: 2vw; 
}

  
ol{
    margin-top:10vw;
    list-style-position: inside;
    font-size: 1.5vw;
    font-style: initial;
}

footer{
    position: absolute; top:72vw; right:-5vw;
    display: inline;
    border:1px;
    height: 5vw;
    width: 110vw;
    background-color: black;
}

a.footer{
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    text-align: center;
}


a.footer:hover{
    color: skyblue;
}

footer{
    position: absolute; top:400vw; right:-5vw;
    display: inline;
    border:1px;
    height: 5vw;
    width: 110vw;
    background-color: black;
}
