img.Delicias{
    position: relative; left:40vw
}
body{
    background-image: url(../imagenes/verduras.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-size: contain;
}
main{
    text-align: center;
    display:inline-block;
    background-color: gainsboro;
    position: relative; left:25vw;
}
header{
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}
nav{
    margin-left: 20vw;
    letter-spacing: 10px;
    z-index: 100;
}
a.nav{
    color:black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;

}

a.nav:hover{
    color:greenyellow;
}
hr.barra{
    border-color: chocolate;
    width: 80vw;
    position: relative;
    right: 10vw;
    
}

section{
    margin-bottom: 10vw;
}

img.comida{
    margin-top:5vw;
    width: 40vw;
    height: 30vw;
}
h3{
    font-family: fantasy;
    color:sienna;
}

h4{
    font-family: cursive;
    font-style:oblique;
    color:green;
}





a.footer{
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}


a.footer:hover{
    color: skyblue;
}

footer.llista{
    position: fixed; bottom:0; right:0.05vw;
    height: 5vw;
    width: 110vw;
    background-color: black;
}