img.Delicias{
    position: relative; left:40vw
}
nav{
    position: sticky;
     top:0; 
    margin-left: 20vw;
    letter-spacing: 10px;
    display:inline-block;
    background-color: white;
    z-index: 100;
}
a.nav{
    color:black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;

}

a.nav:hover{
    color:greenyellow;
}
hr.barra{
    border-color: chocolate;
    width: 80vw;
    position: relative;
    right: 10vw;
    
}
form{
    border: 1px solid;
    width: auto;
    height: 40vw;
    background-color: green;
}

h1{
    text-align: center;
    font-family: Verdana;
}

div.name{
    position:relative; left: 15vw; top: 10vw;
    
}

div.email{
    position:relative; left: 15vw; top: 15vw;

}

div.last_name{
    position: relative; left:15vw; top:12vw;
}

div.msg{
    position:relative; left: 15vw; top: 20vw;
}

button {
    position: relative; left: 15vw; top:25vw;
}
div.nya{
    text-align:center;
}
audio{
    text-align:center;
}
h5{
 text-align:bottom;
}



footer{
    position: fixed; top:40vw; right:-5vw;
    display: inline;
    border:1px;
    height: 5vw;
    width: 110vw;
    background-color: black;
}

a.footer{
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}


a.footer:hover{
    color: skyblue;
}

footer.llista{
    position: absolute; top:55vw; right:-5vw;
    display: inline;
    border:1px;
    height: 5vw;
    width: 110vw;
    background-color: black;
}